<?xml version="1.0" encoding="utf-8"?>
<config>
  <dl>DalXml</dl>
  <dl-packages>
    <DalObject namespace="Dal" class="DalObject">DalObject</DalObject>
    <DalXml namespace="Dal" class="DalXml">DalXml</DalXml>
    <oracle namespace="Dal_O" class="DalDbOracle">DalOracle</oracle>
  </dl-packages>
  <runId>20030</runId>
  <DroneElecUseEmpty>2.5</DroneElecUseEmpty>
  <DroneElecUseLight>3</DroneElecUseLight>
  <DroneElecUseMedium>3.5</DroneElecUseMedium>
  <DroneElecUseHeavy>4</DroneElecUseHeavy>
	<DroneChargeRatePerSecond>4</DroneChargeRatePerSecond>
</config>